@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

*{
    font-family: 'Lato';
    font-style: inherit;
    font-size: 1em;
}

button{
    border-radius: 1em;
    border-style: solid;
    border-color: rgb(93, 55, 155);
    color: white;
    background-color: rgb(76, 17, 143);
    position: relative;
    width: 15em;
    height: 3em;
}